.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icon {
  position: relative;
}
.screen-header__icon .badge-ellip {
  position: absolute;
  right: -3px;
  top: -8px;
}
